# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2b8b8c1e5d8847e4a8be9d97560a760d2b05cfdfcaf5217a74da4a95a74f22a51962bb8f7734a408e3867a0d4980ba5d028b3cbcc7f8ec9e1568b20e93b27944

test:
  secret_key_base: c6025ef8828e8cd2fbf239ac680f68bd11d3fc0a3c99ad1ee8dc5619cb725230c394fb2a319f91e7fbf1de6d3e371b5f69b9e361e6b2af304e4b49c1285ab55a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
